* {
  font-family: "Muli", sans-serif;
  color: white;
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.layout {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #064acb;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.preview {
  background-color: white;
  border-radius: 16px;
  padding: 2rem;
  min-width: 80vw;
  height: 40px;
}

.cta {
  background-color: #f3a953 !important;
  color: black !important;

  text-transform: capitalize !important;
  font-weight: bold !important;
}
